<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page | Nyobain Golang</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <nav class="nav">
    <ul class="nav-link">
      <li class="nav-list">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact</a>
      </li>
    </ul>

    <div class="nav-auth">
      <button type="submit">Login</button>
      <button type="submit"></button>
    </div>
  </nav>
  <main class="">
    <div class="">

    </div>
  </main>
</body>
</html>