{{ define "index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <nav class="nav">
    <ul class="nav-link">
      <li class="nav-list">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact</a>
      </li>
    </ul>

    <div class="nav-auth">
      <button class="btn" type="submit">Login</button>
      <button class="btn" type="submit">Register</button>
    </div>
  </nav>
  <main class="main-section">
    <div class="full-contain">
      <div></div>
    </div>
  </main>
</body>
</html>

{{ end }}